.flip-cat {
    background-color: hsl(207, 9%, 19%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50%;
    margin: auto;
}

.perspective-container {
    perspective: 800px;
}

.flip-cat-card {
    background-image: url(https://media.giphy.com/media/sIIhZliB2McAo/giphy.gif);
    background-size: cover;
    box-shadow: 0 0 140px 10px rgba(255, 0, 0, .5);
    position: relative;
    height: 300px;
    width: 500px;
    overflow: hidden;
    --sheenX: 0;
    --sheenY: 0;
}

.flip-cat-card::after {
    content: "";
    position: absolute;
    top: -400px;
    right: -400px;
    bottom: -400px;
    left: -400px;
    background: linear-gradient(217deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.25) 45%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    transform: translateX(var(--sheenX)) translateY(var(--sheenY));

}

.back-button {
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    padding: 5px;
    margin-top: 10px;


}